<div class="contact-container">
    <h1>Contactez-nous</h1>
    <div class="contact-info">
      <p><span>Nom:</span> Yosra Younsi</p>
      <p><span>Téléphone:</span> <a href="tel:+1234567890">+123 456 7890</a></p>
      <p><span>Email:</span> <a href="mailto:yosra&#64;example.com">yosra&#64;example.com</a></p>
    </div>
</div>
    <div class="contact-container">
        <h1>Contactez-nous</h1>
        <div class="contact-info">
          <p><span>Nom:</span> Yousra badane</p>
          <p><span>Téléphone:</span> <a href="tel:+1234567890">+123 456 7890</a></p>
          <p><span>Email:</span> <a href="mailto:yousra&#64;example.com">yousra&#64;example.com</a></p>
        </div>
        </div>
        <div class="contact-container">
            <h1>Contactez-nous</h1>
            <div class="contact-info">
              <p><span>Nom:</span> JuanAndres</p>
              <p><span>Téléphone:</span> <a href="tel:+1234567890">+123 456 7890</a></p>
              <p><span>Email:</span> <a href="mailto:JuanAndres&#64;example.com">JuanAndres&#64;example.com</a></p>
            </div>
            </div>
    