<div class="characters-background">

  <section class="title-section">
    <p class="title">Characters:</p>
  </section>
  
  <section class="characters-list">  
    @for (character of characters; track character) {
      <article class="character-card" (click)="openModal(character)">
        <p class="name">{{ character.name }}</p>
        <img class="image" [src]="character.image" alt="{{ character.name }}">
      </article>
    }
  </section>
  
  <section class="pagination">
    <button (click)="previousPage()">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()">Next</button>
  </section>
  
  @if (isModalOpen) {
    <div class="modal">
      <div class="modal-content" id="modal">
        <span class="close" (click)="closeModal()">&times;</span>
  
        <h2>{{ selectedCharacter?.name }}</h2>
        <p>{{ selectedCharacter?.race }}</p>
        <img [src]="selectedCharacter?.image" alt="{{ selectedCharacter?.name }}">
  
        @if (selectedCharacter?.description) {
          <p>{{ selectedCharacter.description }}</p>
        }
  
        @if (selectedCharacter?.ki) {
          <p>KI: "{{ selectedCharacter.ki }}"</p>
        }
  
        @if (selectedCharacter?.race) {
          <p>Race: "{{ selectedCharacter.race }}"</p>
        }
  
        @for (transformation of transformations; track transformation) {
          <p><img src="{{ transformation.image }}" alt=""></p>
        }
  
        <button (click)="closeModal()">Close</button>
      </div>
    </div>
  }

</div>
