body {
    margin: 0;
    background-image: url('/Descargar Gratis Dragon Ball Z La Resurrecci N De Zer En Espa Ol.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  